{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Send Certificates</title>
</head>
<body>
    <div class="container">
    <br><br><br><br><br>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          <div class="alert alert-success" role="alert">
            {{message}} 
          </div>
        </div>
        {% endfor %}
    {%endif%}

    <form action="/excel" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        Excel Sheet: <input type="file" name="excel_sheet" class="form-control"><br>
        <input type="submit" value="Send Certificate Via Excel Upload" class="form-control btn btn-primary">
    </form>
    </div>
</body>
</html>